*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  margin: 50px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  background: #f6f6fc; }

::placeholder {
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 100; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.btn, .btn__green:link,
.btn__green:visited {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid #6cbb23;
  transition: all 0.3s; }

.btn__green:link,
.btn__green:visited {
  color: #fff;
  background: #6cbb23; }

.btn__green:hover,
.btn__green:active {
  background: #fff;
  color: #6cbb23;
  border: 1px solid #6cbb23; }

.btn__green:hover .btn__green--span {
  border-top: 0.3rem solid #6cbb23;
  border-right: 0.3rem solid #6cbb23; }

.btn__green--span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.3rem solid #fff;
  border-right: 0.3rem solid #fff;
  transform: rotate(45deg);
  border-radius: 15%;
  vertical-align: middle; }

.info {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(108, 187, 35, 0.8), rgba(108, 187, 35, 0.8)), url(../img/banner-bg.jpg); }
  .info__heading {
    text-align: center;
    color: #fff; }
    .info__heading--main {
      font-size: 3.6rem;
      font-weight: 100; }
    .info__heading--span {
      font-weight: 500; }
    .info__heading--text {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 3rem; }
  .info__form {
    text-align: center; }
    .info__form--input-box {
      display: flex;
      justify-content: space-evenly; }
    .info__form--input {
      font-size: 1.5rem;
      font-weight: 100;
      border: 1px solid #fff;
      line-height: 4.8rem;
      width: 40%;
      background: transparent;
      color: #fff;
      margin-bottom: 2rem; }
    .info__form--textarea {
      border: 1px solid #fff;
      width: 87%;
      height: 20rem;
      background: transparent;
      color: #fff;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      font-weight: 100;
      padding: 1rem 0; }
    .info__form--areabox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .info__form--btn {
      background: #fff;
      font-size: 1.7rem;
      font-weight: 200;
      padding: 1rem 3rem;
      border-radius: 10rem;
      border: 1px solid #6cbb23;
      transition: all 0.3s;
      color: #6cbb23;
      cursor: pointer;
      transition: all 0.2;
      position: relative; }
      .info__form--btn:hover {
        padding: 1rem 3.5rem; }

.about {
  padding: 10rem 0;
  margin-top: -20vh; }
  .about__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .about__box--left {
      width: 40%; }
      .about__box--left-heading {
        font-size: 3.6rem;
        font-weight: 100;
        line-height: 1.25; }
      .about__box--left-span {
        font-weight: 600; }
      .about__box--left-paragraph {
        font-size: 1.4rem;
        font-weight: 300;
        margin: 3rem 0 6rem 0; }

.navigation {
  display: flex;
  align-items: center;
  padding: 2rem 3rem; }
  .navigation__box {
    margin-right: auto; }
  .navigation__list {
    list-style: none;
    transition: all 2s; }
  .navigation__item {
    display: inline-block;
    margin-right: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    padding: 1rem; }
  .navigation__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6cbb23;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s; }
  .navigation__link:hover:before {
    transform: scaleX(1);
    transform-origin: left; }
  .navigation__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #6cbb23;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s; }
  .navigation__link:hover:after {
    transform: scaleX(1);
    transform-origin: right; }

.header {
  position: relative;
  height: 100vh; }
  .header__box {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 70%; }

.heading {
  margin-left: 10rem; }
  .heading__primary {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 6rem; }
    .heading__primary--span {
      font-weight: 600; }
    .heading__primary--span2 {
      font-weight: 600;
      color: #6cbb23; }

.features {
  background-image: linear-gradient(to right bottom, rgba(108, 187, 35, 0.8), rgba(108, 187, 35, 0.8)), url(../img/video-bg.jpg);
  background-size: cover;
  padding: 20rem 0; }
  .features__box {
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: "item1 item2 item3" "item4 item5 item6"; }
    .features__box--item {
      display: block;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      padding: 2rem; }
    .features__box--icon {
      display: block;
      text-align: center;
      font-size: 10rem;
      color: #6cbb23;
      padding: 5rem; }
    .features__box--heading {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase; }
    .features__box--text {
      color: #555;
      font-size: 1.5rem;
      margin: 1rem 0 3rem 0; }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.item4 {
  grid-area: item4; }

.item5 {
  grid-area: item5; }

.item6 {
  grid-area: item6; }

.clients {
  padding: 20rem 0; }
  .clients__box {
    display: flex;
    justify-content: center; }
    .clients__box--heading {
      font-size: 4.8rem;
      font-weight: 100;
      color: #6cbb23; }
    .clients__box--text {
      font-size: 1.5rem;
      font-weight: 300; }
    .clients__box--head {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 3px;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; }
    .clients__box--paragraph {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.4rem;
      margin-bottom: 2.5rem; }
    .clients__box--left {
      max-width: 25%;
      padding: 4rem; }
    .clients__box--right {
      max-width: 60%;
      padding: 4rem; }
