@charset "UTF-8";
/******************************
0 : 600px Phone
600 : 900px Tablet Portrait
900 - 1200px Tablet Landscape
1200 - 1800 Normal
1800px : ∞ Big desktop
*******************************/
/****************************
$breakpoint argument choices:

* Phone
* Tab-Port
* Tab-Land
* Big-Desktop
********************************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  margin: 50px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  background: #f6f6fc; }
  @media (max-width: 75em) {
    body {
      margin: 0px; } }

::placeholder {
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 100; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.btn, .btn__green:link,
.btn__green:visited {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid #6cbb23;
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .btn, .btn__green:link,
    .btn__green:visited {
      font-size: 1rem; } }
  @media (max-width: 56.25em) {
    .btn, .btn__green:link,
    .btn__green:visited {
      padding: 0.5rem 1rem; } }

.btn__green:link,
.btn__green:visited {
  color: #fff;
  background: #6cbb23; }

.btn__green:hover,
.btn__green:active {
  background: #fff;
  color: #6cbb23;
  border: 1px solid #6cbb23; }

.btn__green:hover .btn__green--span {
  border-top: 0.3rem solid #6cbb23;
  border-right: 0.3rem solid #6cbb23; }

.btn__green--span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.3rem solid #fff;
  border-right: 0.3rem solid #fff;
  transform: rotate(45deg);
  border-radius: 15%;
  vertical-align: middle; }
  @media (max-width: 37.5em) {
    .btn__green--span {
      width: 0.7rem;
      height: 0.7rem; } }

.info {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(108, 187, 35, 0.8), rgba(108, 187, 35, 0.8)), url(../img/banner-bg.jpg); }
  .info__heading {
    text-align: center;
    color: #fff; }
    .info__heading--main {
      font-size: 3.6rem;
      font-weight: 100; }
    .info__heading--span {
      font-weight: 500; }
    .info__heading--text {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 3rem; }
  .info__form {
    text-align: center; }
    .info__form--input-box {
      display: flex;
      justify-content: space-evenly; }
    .info__form--input {
      font-size: 1.5rem;
      font-weight: 100;
      border: 1px solid #fff;
      line-height: 4.8rem;
      width: 40%;
      background: transparent;
      color: #fff;
      margin-bottom: 2rem; }
    .info__form--textarea {
      border: 1px solid #fff;
      width: 87%;
      height: 20rem;
      background: transparent;
      color: #fff;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      font-weight: 100;
      padding: 1rem 0; }
    .info__form--areabox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .info__form--btn {
      background: #fff;
      font-size: 1.7rem;
      font-weight: 200;
      padding: 1rem 3rem;
      border-radius: 10rem;
      border: 1px solid #6cbb23;
      transition: all 0.3s;
      color: #6cbb23;
      cursor: pointer;
      transition: all 0.2;
      position: relative; }
      .info__form--btn:hover {
        padding: 1rem 3.5rem; }

.about {
  padding: 10rem 0;
  margin-top: -20vh; }
  .about__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media (max-width: 37.5em) {
      .about__box {
        flex-direction: column; } }
    .about__box--left {
      width: 40%; }
      @media (max-width: 37.5em) {
        .about__box--left {
          width: 90%; } }
      .about__box--left-heading {
        font-size: 3.6rem;
        font-weight: 100;
        line-height: 1.25; }
        @media (max-width: 56.25em) {
          .about__box--left-heading {
            font-size: 2rem; } }
      .about__box--left-span {
        font-weight: 600; }
      .about__box--left-paragraph {
        font-size: 1.4rem;
        font-weight: 300;
        margin: 3rem 0 6rem 0; }

.navigation {
  display: flex;
  align-items: center;
  padding: 2rem 3rem; }
  .navigation__box {
    margin-right: auto; }
  .navigation__list {
    list-style: none;
    transition: all 2s; }
  .navigation__item {
    display: inline-block;
    margin-right: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    padding: 1rem; }
  .navigation__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6cbb23;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s; }
  .navigation__link:hover:before {
    transform: scaleX(1);
    transform-origin: left; }
  .navigation__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #6cbb23;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s; }
  .navigation__link:hover:after {
    transform: scaleX(1);
    transform-origin: right; }

.header {
  position: relative;
  height: 100vh; }
  @media (max-width: 56.25em) {
    .header__photo--img {
      width: 70%; } }
  .header__box {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 70%; }

.heading {
  margin-left: 5rem; }
  @media (max-width: 56.25em) {
    .heading {
      margin-left: 0; } }
  .heading__primary {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 6rem; }
    @media (max-width: 96em) {
      .heading__primary {
        font-size: 4rem; } }
    @media (max-width: 75em) {
      .heading__primary {
        font-size: 3rem; } }
    @media (max-width: 56.25em) {
      .heading__primary {
        font-size: 2.5rem;
        font-weight: 300; } }
    @media (max-width: 37.5em) {
      .heading__primary {
        font-size: 2rem;
        font-weight: 300; } }
    .heading__primary--span {
      font-weight: 600; }
      @media (max-width: 75em) {
        .heading__primary--span {
          font-size: 2.5rem; } }
      @media (max-width: 56.25em) {
        .heading__primary--span {
          font-size: 2rem; } }
    .heading__primary--span2 {
      font-weight: 600;
      color: #6cbb23; }
      @media (max-width: 75em) {
        .heading__primary--span2 {
          font-size: 2.5rem; } }
      @media (max-width: 56.25em) {
        .heading__primary--span2 {
          font-size: 2rem; } }

.features {
  background-image: linear-gradient(to right bottom, rgba(108, 187, 35, 0.8), rgba(108, 187, 35, 0.8)), url(../img/video-bg.jpg);
  background-size: cover;
  padding: 10rem 0; }
  .features__box {
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: "item1 item2 item3" "item4 item5 item6"; }
    @media (max-width: 56.25em) {
      .features__box {
        width: 90%;
        margin-left: 5rem; } }
    @media (max-width: 37.5em) {
      .features__box {
        grid-template-areas: "item1 item2" "item3 item4 " "item5 item6";
        margin-left: 2.5rem; } }
    .features__box--item {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      padding: 2rem; }
      @media (max-width: 56.25em) {
        .features__box--item {
          font-size: 0.5em; } }
    .features__box--icon {
      display: block;
      text-align: center;
      font-size: 10rem;
      color: #6cbb23;
      padding: 5rem; }
      @media (max-width: 75em) {
        .features__box--icon {
          font-size: 7rem;
          padding: 2rem; } }
    .features__box--heading {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase; }
      @media (max-width: 56.25em) {
        .features__box--heading {
          font-size: 1.5rem; } }
      @media (max-width: 37.5em) {
        .features__box--heading {
          font-size: 1.2rem; } }
    .features__box--text {
      color: #555;
      font-size: 1.5rem;
      margin: 1rem 0 3rem 0; }
      @media (max-width: 56.25em) {
        .features__box--text {
          font-size: 1.3rem; } }
      @media (max-width: 37.5em) {
        .features__box--text {
          font-size: 1.2rem; } }

.item1 {
  grid-area: item1; }

.item2 {
  grid-area: item2; }

.item3 {
  grid-area: item3; }

.item4 {
  grid-area: item4; }

.item5 {
  grid-area: item5; }

.item6 {
  grid-area: item6; }

.clients {
  padding: 10rem 0; }
  .clients__box {
    display: flex;
    justify-content: center; }
    .clients__box--heading {
      font-size: 4.8rem;
      font-weight: 100;
      color: #6cbb23; }
      @media (max-width: 56.25em) {
        .clients__box--heading {
          font-size: 3.5rem; } }
    .clients__box--text {
      font-size: 1.5rem;
      font-weight: 300; }
      @media (max-width: 56.25em) {
        .clients__box--text {
          font-size: 1.2rem; } }
    .clients__box--head {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 3px;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; }
      @media (max-width: 56.25em) {
        .clients__box--head {
          font-size: 1.5rem; } }
    .clients__box--paragraph {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.4rem;
      margin-bottom: 2.5rem; }
      @media (max-width: 56.25em) {
        .clients__box--paragraph {
          font-size: 1.2rem; } }
    .clients__box--left {
      max-width: 25%;
      padding: 4rem; }
    .clients__box--right {
      max-width: 60%;
      padding: 4rem; }

.footer {
  padding: 10rem 0; }
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch; }
    @media (max-width: 37.5em) {
      .footer__wrapper {
        font-size: 1rem;
        margin-left: 2rem; } }
  .footer__heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem; }
    @media (max-width: 56.25em) {
      .footer__heading {
        font-size: 1.3rem; } }
    @media (max-width: 37.5em) {
      .footer__heading {
        font-size: 1.1rem; } }
  .footer__box {
    list-style: none; }
  .footer__item {
    padding: 0.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #777;
    font-size: 1.5rem; }
    @media (max-width: 56.25em) {
      .footer__link:link, .footer__link:visited {
        font-size: 1.2rem; } }
    @media (max-width: 37.5em) {
      .footer__link:link, .footer__link:visited {
        font-size: 1rem;
        font-weight: 400; } }
  .footer__link:hover, .footer__link:active {
    color: #777; }
  .footer__text {
    font-size: 1.4rem;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .footer__text {
        font-size: 1.2rem; } }
    @media (max-width: 37.5em) {
      .footer__text {
        font-size: 1rem;
        font-weight: 400; } }
  .footer__social--link:link, .footer__social--link:visited {
    color: #777;
    background: #f9f9ff;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
    margin-right: 1rem; }
    @media (max-width: 37.5em) {
      .footer__social--link:link, .footer__social--link:visited {
        font-size: 1rem;
        margin-right: 1.5rem; } }
  .footer__social--link:hover, .footer__social--link:active {
    color: #fff;
    background: #6cbb23; }
  .footer__bottom {
    text-align: center;
    margin-top: 5rem; }
    .footer__bottom--text {
      color: #555;
      font-size: 1.5rem;
      border-top: 1px solid #dfe4ea;
      padding-top: 4rem; }
      @media (max-width: 37.5em) {
        .footer__bottom--text {
          font-size: 1.2rem; } }
  .footer__icon {
    color: #6cbb23; }
  .footer__name:link, .footer__name:visited {
    color: #6cbb23;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px; }
