*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  margin: 50px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  background: #f6f6fc;
  @include respond(tab-land) {
    margin: 0px;

  }
}

::placeholder {
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 100;
}
